* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
  }

  ::-webkit-scrollbar,
body::-webkit-scrollbar {
  border-radius: 20px;
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  height: 20%;
  box-shadow: inset 0 0 6px rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgb(48, 48, 48);
  background-color: #590f0c;
}

@media only screen and (max-width: 639px) {
  ::-webkit-scrollbar {
    display: none;
  }
}